body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: aliceblue;
}

.contenedor-imc {
    width: 100%;
    height: 400px;
    background-color: #666;
    align-items:center;
    border: 2px solid black;
}

.contenedor-imc__box {
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
    border: 1px solid black;
    margin-left: 0.5em;
}

.input-imc {
    height: 20px;
    width: 100px;
    margin-left: 1em;
}

.contenedor-imc__header {
    width: 100%;
}

.contenedor-imc__span {
    display: block;
}

.boton-imc {
    padding: 10px;
    border-radius: 10px;
    margin-left: 25px;
}

.boton-imc:hover {
    background-color: black;
    color: #fff;
}

.label1 {
    margin-left: 1em;
    text-align: center;
}

.perder-peso {
    height: 150px;
    width: 150px;
    margin-left: 32em;
    top: 12em;
}

